#callbackLink {
	background-image:url(../images/ie6/callback-bg.gif);
	height:48px;
	line-height:48px;
	width:223px;
}

/*#bodyWrapper1, #bodyWrapper2, #bodyWrapper3, #bodyWrapper4 {
	background-image:none;
}*/